IAProjects/Library
MachineLearningProj/Library
MachineLearningProj/obj
MachineLearningProj/Temp
MachineLearningProj/.vs/MachineLearningProj/v16/.suo
SoundAndAnimation/obj
SoundAndAnimation/Library
SoundAndAnimation/Assembly-CSharp.csproj
4LeggedAnimation/Library
4LeggedAnimation/obj
